body {
    margin: 0;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.balon {
    width: 200px;
    height: 400px;
    background-color: chocolate;
    margin-right: 10px;
}

.balon-2 {
    width: 200px;
    height: 400px;
    background-color: chocolate;
    margin-left: 10px;
}