body{
    margin: 0;
}
.cont-central{
    width: 100%;
    height: 100vh;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circulo{
    width: 600px;
    height: 600px;
    background-color: rgb(131, 23, 23);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cuadrado{
    width: 80px;
    height: 80px;
    background-color: rgb(238, 107, 59);
}
.linea{
    width: 100%;
    height: 28px;
    background-color: black;
}
.circulo-peque{
    width: 80px;
    height: 80px;
    background-color: yellow;
    border-radius: 50%;
}